@model CheckProcessViewModel;
@{
    ViewData["Title"] = "Index";
}

<h2>Process Label Checks</h2>

<form asp-action="CheckProcess">
    <span>Process Checks For </span>
    <input asp-for="CheckFromDate" type="date" value="@Model.CheckFromDate.ToString("yyyy-MM-dd")" />
    <br /><br /><br />
    <input type="submit" value="Process Checks" class="btn btn-primary" />
</form>

<h5>Number of Queued jobs = @Model.QueuedCount</h5>
<h5>Number of Succeded jobs today = @Model.SuccededCount</h5>
<h5>Number of Processing jobs = @Model.ProcessingCount</h5>
<h5>Number of Scheduled jobs = @Model.ScheduledCount</h5>
<h5>Number of Failed jobs today = @Model.FailedCount</h5>


