@model LabelChecksDataLayer.Models.LabelCheck

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LabelCheck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Num1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Num1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Num2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Num2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsiderStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsiderStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsiderEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsiderEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PspMeasurement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PspMeasurement.Label)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
