@model IEnumerable<LabelChecksDataLayer.Models.LabelCheckResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DataTablesLayout.cshtml";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<form asp-action="Index">
    Get Checks Results of date: <input type="date" name="dateStr" value="@ViewData["dateStr"]" />

    <input type="submit" class="btn btn-success" value="Search" />
</form>

<table id="checkResultsDiv" class="stripe row-border order-column" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsSuccessful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckProcessStartTime)
            </th>
            @*<th>
                        @Html.DisplayNameFor(model => model.CheckProcessEndTime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelCheck.CheckType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelCheck.PspMeasurement)
            </th>
            <th>
                Modified Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.IsSuccessful ? "Yes" : "No")
                </td>
                <td>
                    @item.CheckProcessStartTime.ToString("dd-MMM-yy")
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CheckProcessEndTime)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelCheck.CheckType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelCheck.PspMeasurement.Label)
                </td>
                <td>
                    @if (item.DateModified.HasValue)
                    {
                        @DateTime.SpecifyKind(item.DateModified.Value, DateTimeKind.Utc).ToLocalTime().ToString("dd-MMM-yy HH:mm");
                    }
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsSuccessful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckProcessStartTime)
            </th>
            @*<th>
                        @Html.DisplayNameFor(model => model.CheckProcessEndTime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelCheck.CheckType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelCheck.PspMeasurement)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

<form asp-action="RunChecks">
    <input type="submit" value="RunChecksForYesterday" class="btn btn-primary" />
</form>