@model IEnumerable<LabelChecksDataLayer.Models.LabelCheckResult>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsSuccessful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckProcessStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckProcessEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelCheck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsSuccessful)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckProcessStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckProcessEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabelCheck.CheckType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="RunChecks">
    <input type="submit" value="RunChecks" class="btn btn-default" />
</form>